@import "tailwindcss";
@import "@radix-ui/colors/slate-dark.css";

@theme inline {
  --color-slate-1: var(--slate-1);
  --color-slate-2: var(--slate-2);
  --color-slate-3: var(--slate-3);
  --color-slate-4: var(--slate-4);
  --color-slate-5: var(--slate-5);
  --color-slate-6: var(--slate-6);
  --color-slate-7: var(--slate-7);
  --color-slate-8: var(--slate-8);
  --color-slate-9: var(--slate-9);
  --color-slate-10: var(--slate-10);
  --color-slate-11: var(--slate-11);
  --color-slate-12: var(--slate-12);
}

[role="button"],
button {
  cursor: pointer;
}

code {
  counter-reset: step;
  counter-increment: step 0;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

pre {
	@apply rounded-md pl-9;
}

pre code {
	@apply block leading-tight p-2 pl-1;
	font-size: 16px;
	counter-reset: step;
	counter-increment: step 0;
}

pre code .line {
	@apply relative;
  white-space: pre-wrap;
}

pre code .line::before {
	@apply absolute overflow-hidden w-8 h-4 -left-9 top-0;
  text-align: right;
	content: counter(step);
	counter-increment: step;
	color: #8f8ca8;
	padding-left: 8px;
  padding-right: 8px;  
}
